.container {
  margin: auto;
  width:100%;
  border:1px solid black;
  background-color: rgb(3, 3, 3);
  padding: 10px;
}
.delete-btn {
  float:right;
  border-radius: 100%;
  background-color: red;
  color: aliceblue;
}