@font-face {
  font-family:'Gimnasio' ;
  src: url(../../font/Galantis.otf);
  
}


* {
  font-family: "Gimnasio";
}

body {
  margin: 0;
  background-image:url("Pictures/fondo.png") ;
  background-size: contain;
}



